<h1 mat-dialog-title>Regla</h1>
<form [formGroup]="form"  (submit)="save()" >
<mat-dialog-content  >
    <div>
        <mat-form-field>
            <input matInput #input1 maxlength="300" minlength="2"
                    placeholder="Nombre"
                   formControlName="name">
                   <mat-hint align="end">{{input1.value?.length || 0}}/300</mat-hint>
                   <mat-error>
                    Minimo 2 caracteres máximo 300
                </mat-error>
        </mat-form-field>
    </div>
    <div>
      <mat-form-field>
          <mat-label>Tipo palabra</mat-label>
          <mat-select  formControlName="tipalabra">
            <mat-option value="T">Texto</mat-option>
            <mat-option value="E">Expresión regular</mat-option>
          </mat-select>
         
        </mat-form-field>
  </div> 
  <div>
    <mat-form-field>
        <input matInput #input2 maxlength="300" minlength="2"
                placeholder="Palabra a buscar"
               formControlName="word_to_rename">
               <mat-hint align="end">{{input2.value?.length || 0}}/300</mat-hint>
               <mat-error>
                Minimo 2 caracteres máximo 300
            </mat-error>
    </mat-form-field>
</div>  
<div>
    <mat-form-field>
        <input matInput #input3 maxlength="300" minlength="2"
                placeholder="Palabra sustituta"
               formControlName="renowned_word">
               <mat-hint align="end">{{input3.value?.length || 0}}/300</mat-hint>
               <mat-error>
                Minimo 2 caracteres máximo 300
                </mat-error>
    </mat-form-field>
</div>
 <div>
    <mat-form-field>
        <mat-label>Tipo documento</mat-label>
        <mat-select  id="select2" (selectionChange)="loadPath($event.value)" formControlName="valueTipDoc">
          <mat-option *ngFor="let opt of optPath" [value]="opt.id">
            {{opt.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div> 

<div>
    <mat-form-field>
        <mat-label>Rutas disponibles</mat-label>
        <mat-select id="select1" formControlName="idPath" multiple>
          <mat-option *ngFor="let mv of moveByDoc" [value]="mv.id">
            {{mv.originpath}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div> 

<div>
    <mat-checkbox   [checked]="form.get('activecheck').value=='A'? true:false"
    (change)="form.get('activecheck').setValue($event.checked? 'A':'D')" >Activa</mat-checkbox>
</div> 

 
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="mat-raised-button" (click)="close()">Close</button>
    <button  class="mat-raised-button mat-primary" type="submit" >Save</button>
</mat-dialog-actions>
</form>