
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add
    </button>

    <button mat-raised-button color="primary" (click)="removeSelectedRows()">
      Remove
    </button>
    <button mat-raised-button color="primary" (click)="editSelectRow()">
      Edit
    </button>
    
   
         
 
    <mat-table [dataSource]="dataSource" matSort>
    
       <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    
  
      <!-- Columna name -->
      <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  <!-- Columna tipalabra -->
  <ng-container matColumnDef="tipalabra">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo palabra</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.tipalabra == 'T' ? 'Text' : 'Expression'}}
  </mat-cell>
</ng-container>
     

      <!-- Columna word_to_rename -->
      <ng-container matColumnDef="word_to_rename">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Palabra a buscar</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.word_to_rename}} </mat-cell>
      </ng-container>


       <!-- Columna renowned_word-->
       <ng-container matColumnDef="renowned_word">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Palabra sustituta </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.renowned_word}} </mat-cell>
  </ng-container>

       <!-- Columna Activo -->
       <ng-container matColumnDef="activecheck">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Activa </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.activecheck}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ruta">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rutas </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-label>Ver todas</mat-label>
      <mat-select >
        <mat-option *ngFor="let opt of row.idPath" [disabled]>
          {{opt.originpath}}
        </mat-option>
      </mat-select>
    </mat-cell>
    </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

      <div class="button-row">
        <button (click)="submitRefac()"  mat-flat-button color="primary">Refactor</button>
      </div>
      
   
   
  </mat-card>
</div>

